[core]
	excludesfile = ~/.gitignore_global
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = auto
[core]
	editor = vim
	autocrlf = input
	pager =
[credential]
	helper = osxkeychain
[user]
	name = John Pancoast
	email = johnpancoast.tech@gmail.com
[push]
	default = simple
[difftool]
    # Be able to abort all diffs with `:cq` or `:cquit`
    trustExitCode = true
	prompt = false
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[alias]
	dt = difftool
	df = difftool
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
