[submodule ".vim/bundle/vim-php-namespace"]
    path = .vim/bundle/vim-php-namespace
    url = git://github.com/arnaud-lb/vim-php-namespace.git
#[submodule "vim-php-syntax"]
#	path = vim-php-syntax
#	url = git@github.com:kmfk/php.vim.git
#[submodule ".vim/bundle/vim-gruvbox"]
#	path = .vim/bundle/vim-gruvbox
#	url = https://github.com/morhetz/gruvbox.git
[submodule ".vim/bundle/vim-php-cs-fixer"]
	path = .vim/bundle/vim-php-cs-fixer
	url = https://github.com/stephpy/vim-php-cs-fixer.git
[submodule "vim-colorschemes"]
	path = vim-colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
